@model IEnumerable<AtvPratMod3SolanoBarcelos.Models.promocao>

@{
    ViewData["Title"] = "Index";
}

<h1>Promoções</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-success">Cadastrar</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.destino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.destino.nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"><button type="button" class="btn btn-warning">Editar</button></a> |
                <a asp-action="Details" asp-route-id="@item.id"><button type="button" class="btn btn-secondary">Visualizar</button></a> |
                <a asp-action="Delete" asp-route-id="@item.id"><button type="button" class="btn btn-danger">Deletar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
